#header-table {
  width: 80%;
  margin: auto;
  border: 1px solid black;
}

#header-left {

}

#header-right {
  align-items: right;
}

#header-buttons {
  list-style-type: none;
}

body {
  padding: 20px;
}

#header-right form {
  display: inline;
}

#index-question-tables {
  width: 60%;
  margin: auto;
}

#index-question-tables td {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
